<h1 class="text-4xl p-4 font-bold underline text-center">
  Recomendaciones del Pai
</h1>
<p class="text-center text-2xl">
  Hola!, esta es un sitio web creado para darte informacion y recomendaciones
  sobre el Programa Ampliado de Inmunización(PAI),<br />
  A continuacion puedes proporcionar tus datos para una obtener recomendaciones
  de acuerdo a su edad y genero:
</p>
<form class="flex justify-center m-6">
  <div class="w-96 bg-gray-400 rounded-xl">
    <div class="p-4 pb-2 flex justify-center">
      <label for="gender" class="w-full text-center">Ingrese su genero: </label>
      <select [value]="''" required name="gender" class="w-full" id="gender">
        <option value="man" class="text-center">Hombre</option>
        <option value="woman" class="text-center">Mujer</option>
      </select>
    </div>
    <div class="p-4 flex justify-center">
      <label class="w-full text-center" for="age">Ingrese su edad: </label>
      <input required type="number" name="age" class="w-full text-center" />
    </div>
    <div class="flex justify-around h-9">
      <button type="submit" class="bg-cyan-500 w-full h-full rounded-xl hover:bg-cyan-600">
        Enviar
      </button>
      <button type="button" class="bg-gray-400 w-full h-full rounded-xl">
        Ingresar sin datos
      </button>
    </div>
  </div>
</form>
